[2017-06-30 23:13] ShivrajRawat opened #3 "Does not work in IE"

[2017-07-04 17:35] shrpne opened #4 "directive usage"
I'm trying to use v-money as directive and get error `[Vue warn]: Failed to resolve directive: money`
I use example from docs https://github.com/vuejs-tips/v-money#c-use-as-directive-httpsjsfiddlenetauom8st8

Also links to jsfiddle in component and directive examples are same.

[2017-07-04 17:40] shrpne opened #5 "opinionated styles"
v-money apply `style="text-align: right;"`
If someone need it, it can be styled very easy. But if not, it not so easy to remove this style.

I think v-money should be about how things work, but not how things look.
So I think it should be removed.

[2017-07-05 09:27] shrpne commented on #4
I realized, that it can be fixed with this directive declaration:
`directives: {money: VMoney}`

I have one more question, why `v-model.lazy` is necessary? Looks like it works well with `v-model` too.

[2017-07-06 19:27] dgranzotto opened #6 "Negative Values (minus signal)"
Are there any way to work with negative values (pressing the minus key) ?
Thanks a lot.

[2017-07-13 15:47] kleinernik commented on #3
Here is why
https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Creating_and_triggering_events#The_old-fashioned_way

if have opened a pull request #8

[2017-07-13 16:38] kleinernik commented on #5
Remove is easy, just put `style="text-align: left;"` on your money element. Still the general remark about not beeing opinionated may be valid.

[2017-07-13 17:54] neves commented on #3
#8

[2017-07-13 17:54] #3 closed

[2017-07-13 18:00] neves commented on #5
I was worried about it when I made that decision, but I think it's way more used aligned to right than left, and it's not that hard to override it using inline style or css !important.
But I'm still open for discussion.

[2017-07-13 18:13] neves commented on #4
`v-model.lazy` is necessary for some edge cases, but 99% of time v-model alone is enough.
`masked: false` can't work with directive because it can't intercept the input event. In that case, you have to unformat yourself using the function `unformat` from `utils.js`

[2017-07-13 18:14] neves commented on #6
I'm thinking how to implement that.

[2017-07-13 21:55] shrpne commented on #5
Aligning currency to the right make sense for tables, but in forms usually money inputs aligned as other inputs in the form, especially if form has vertical layout.

Also common approach for styling is css classes, in this case inline styles or !important is a bad practice.

[2017-07-13 22:05] shrpne commented on #4
How about put `unformat` not into vue's `@change` attribute, but into native js event handler?

[2017-07-14 04:10] akarelas opened #9 "Please upload latest version (0.60) to npmjs.com"

[2017-07-14 04:20] akarelas opened #10 "Example in documentation doesn't work"
To use v-money in directive form, you must not do:

[code]

...but...

[code]

...instead.

[2017-07-14 04:39] akarelas opened #11 "Masked does nothing, when in directive mode"
See the example here, for example: https://jsfiddle.net/auom8st8/25/

Masked is false, but the amount appears with mask

[2017-07-14 17:32] neves commented on #9
Done. Sorry, I forget it.

[2017-07-14 17:32] #9 closed

[2017-07-14 17:45] neves commented on #11
see this answer https://github.com/vuejs-tips/v-money/issues/4#issuecomment-315159130

[2017-07-14 17:47] neves commented on #4
@shrpne unfortunately the event that vue listen is a different one from mine. But I'm would like to find a solution for this problem.

[2017-07-14 17:53] akarelas commented on #4
Will you fix the documentation of directives: {VMoney} ?

[2017-07-18 01:21] neves commented on #5
What if I remove the style and add a class `v-money` to make it easy to style globally.
Do you think it would still be too opinionated?

[2017-07-18 14:33] gabrielpeixoto opened #12 "Globally Usage"
I am trying to use directive globaly.

`Vue.use(money, {precision: 4});`

` <input v-model.lazy="price" v-money />`

And I got the error:

[2017-07-18 14:38] gabrielpeixoto commented on #12
I made some changes, and it worked.

`Vue.use(money, {precision: 4});`

`<input v-model.lazy="price" v-money={} />`

Is it the correct usage?

[2017-07-19 15:10] shrpne commented on #5
At least classes will be easier to override.
Still, I would prefer that there were no default styles.
I think applying styles will be good for fully styled components, like vuetify
But v-money looks like component, which just adds functionality and needs to be styled.
If it needs to be styled, why add single default style rule? It seems a bit weird.

[2017-07-19 16:45] neves commented on #5
My suggestion is to have a class named `v-money` and that's all, no default style.
So, if someone want to align right, they can create a global style like:
`.v-money { text-align: right; }`

[2017-07-19 17:24] shrpne commented on #5
I think it's fine

[2017-07-19 21:16] MazueraAlvaro opened #13 "Event listeners in component mode"
I need to capture the keypress event in the input, I'm using it in component mode and it does not work.
Explicitly my code is as follows:

`<money v-model="qty" class="form-control" v-bind="money" v-on:keyup.enter="method"></money>`

Thanks.

[2017-07-20 11:26] neves commented on #13
You need to use `v-on:keyup.native.enter`

[2017-07-20 11:26] #13 closed

[2017-07-20 13:12] #11 closed

[2017-07-20 13:28] neves commented on #12
Fixed with version v0.7.0, now just v-money works

[2017-07-20 13:28] #12 closed

[2017-07-20 13:28] neves commented on #10
Fixed. Thanks!

[2017-07-20 13:28] #10 closed

[2017-07-20 13:31] neves commented on #5
Fixed with version v0.7.0. Thanks for helping.

[2017-07-20 13:31] #5 closed

[2017-07-20 13:32] neves commented on #4
Fixed documentation #10

[2017-07-20 13:32] #4 closed

[2017-07-20 14:22] neves commented on #6
Fixed with version 0.8.0
thanks for reporting.

[2017-07-20 14:22] #6 closed

[2017-07-20 14:52] muratbsts opened #14 "How to change value programmatically?"
Hi, thanks for v-money. But I've a problem. I can't change value programmatically when using as directive. I'm tried like below.

[code]

[2017-07-20 16:38] neves commented on #14
Here's a example: https://jsfiddle.net/nj3cLoum/3/
But if I set 123 the result became 1,23.
That need to be fixed.

[2017-07-20 19:35] muratbsts commented on #14
Can you try with in a promise's resolve function when created() event?

[2017-07-20 21:09] neves commented on #14
https://jsfiddle.net/nj3cLoum/4/

[2017-07-20 21:09] #14 closed

[2017-07-21 09:05] muratbsts commented on #14
Hi @neves thank you for your answer. But I've still problem. Look:

My input is looking as:
[code]
![image](https://user-images.githubusercontent.com/1137480/28456696-d7d7273a-6e0b-11e7-9371-59ce40261fb3.png)

[code]

Not: I apologize if I say something ridiculous because my english is not very good.

[2017-07-21 19:08] neves commented on #14
You are probably having some issues with axios, try to put console.log(res) after .then.
But the value 123456 became 1.234,56 need to be fixed.

[2017-07-24 20:33] muratbsts commented on #14
I've found problem. I'm using element ui. This problem related el-input component. There isn't a problem if I use html input element. Thanks for your interest @neves

[2017-07-26 00:10] acirinelli opened #15 "Null value instead of 0?"
Is there a way you can add an option of setting the value to null when you focus on the input? The 0 alone is causing multiple issues for our users. In some cases the cursor is in front of the 0 which isn't helpful, and in others, they try to delete the zero before typing.

Basically, if the value is 0 on focus, the input numbers should clear. If the value is null on blur, it should go back to 0.

[2017-07-26 00:48] neves commented on #15
Can you record the issue while playing on this page: https://vuejs-tips.github.io/v-money/
You can use https://screencast-o-matic.com/

[2017-07-26 15:28] acirinelli commented on #15
Here is a video clip:
edit: [video deleted from dropbox]

[2017-07-26 19:27] acirinelli commented on #15
@neves if you don't want to update your package with this idea, no worries. I did find a jquery package that does what I'm looking for. Reference: https://github.com/autoNumeric/autoNumeric

[2017-07-26 20:24] neves commented on #15
Now I see. That's really annoying, so I'm marking it to be fixed.

[2017-08-01 17:49] jamiesoncj opened #16 "Support storing value in minor units"
Great package!

It's often useful to represent currency values in minor units of the currency, especially because JS can behave so oddly with floating points.

I personally prefer to store all currency values as minor units (e.g. a user will input £123.45 but I will store the value as 12345). This makes life easier if you need to manipulate the value somehow, especially interacting with another fl

[2017-08-01 19:43] neves commented on #16
I thought about this, too. Should use `Math.round()`?

The line needed to be changed is this one:
https://github.com/vuejs-tips/v-money/blob/master/src/utils.js#L22
and this one:
https://github.com/vuejs-tips/v-money/blob/master/src/component.vue#L70
And the input format, too.

I'm not happy with the name minorUnits, any other suggestion?

[2017-08-02 10:02] Mouvedia opened #17 "v-money attribute without a value"
errors:

As explained in #12 you gotta add a value.

[2017-08-09 16:23] jamiesoncj commented on #16
Thanks @neves - I will try to put a PR together for this in the next few days.

Some other suggestions for the options name if you don't like minorUnits:

- multiplier
- precisionMultiplier
- cents
- integer

I'm sure there are plenty of other possibilities!

[2017-08-10 00:16] neves commented on #16
Since the number 12,34 would be converted to 1234 which is que amount of cents in the value, I think **cents** would be more appropriated.

[2017-08-10 00:21] neves commented on #16
Forget about Math.round, there's no need to.
I think just converting **R$ 12,34** to 1234 (using *onlyNumbers* https://github.com/vuejs-tips/v-money/blob/master/src/utils.js#L25) and converting back to integer with *parseInt* is enough.

[2017-08-11 14:07] xps opened #18 "Price gets divided by 100 when it's an integer"
See: https://jsfiddle.net/nj3cLoum/8/

Input should show 123 but shows 1,23

[2017-08-19 13:41] discovermotion commented on #15
Here's my wish - if the (value == null) the input control should not display "$0" it should be displayed as empty initially.  If the (value == 0 or other valid number) it should display the formatted value. Thanks for your work on this.

[2017-08-20 21:38] nmkr opened #19 "on input:focus bug?"
hey,

testet the demo: https://jsfiddle.net/auom8st8/
if we click in the input the cursor jumps to the last position.

is this a feature or bug?

regards

[2017-08-21 03:37] neves commented on #19
That was implemented as a feature so the user can start typing in the correct place.

[2017-08-21 03:37] #19 closed

[2017-08-21 08:37] monkhsaikhan opened #20 "TypeError: e.directive is not a function"
How to fix this?

on script tag
[code]

on Template tag
`<v-money v-model="price" v-bind="mask" class="form-input input-lg"></v-money>`

Error
TypeError: e.directive is not a function

[2017-08-22 13:22] rodrigocalilo commented on #20
import {VMoney} from 'v-money'

[2017-08-24 14:49] robbiemu opened #21 "is it possible to get masked output _only_?"
I'd like to have input for human readable dollar amounts like `$1,234.50' with underlying value: `1234.5`.
Right now, using the component form I can get that _except_ the underlying value will be the formatted version:
[code]

I'd be nice if we could have a `apply: {toModel: true/false, toView: true/false}` flag instead of the mask flag, with the effect:

* `apply: {toModel}` - shows unmasked numb

[2017-08-24 15:02] #21 closed

[2017-08-24 15:03] robbiemu commented on #21
my bad .. I see now, mask applies to value emitted not value displayed. :+1:

[2017-08-25 02:47] #20 closed

[2017-08-31 04:26] ankurk91 opened #22 "Add LICENSE"
Can you please add license file to repo.

https://help.github.com/articles/adding-a-license-to-a-repository/
https://choosealicense.com/

[2017-08-31 04:48] ankurk91 opened #23 "Options has no effect when registering global component"
According to README, we can pass config options like this
[code]
But actually this has no effect. I have tried passing other options as well.
[code]
[code]
But no luck, i need to pass options to each component like this-
[code]

Vue v2.4.2
v-money v0.8.0

Let me know if i am missing something.

[2017-08-31 05:03] ankurk91 opened #24 "Feature request: add min, max support"
It would be nice if component can accept `:min="100"` and `:max="9999"` props.

[2017-09-05 19:04] mzvarik opened #25 "Suggestion: Decimal places always needed"
I want 2 decimal places.

But when I type "1", it says "0.01"

So  to input "1" I have to type 3 keys!

This is really annoying...

Except that, this is the best component ever.

[2017-09-05 20:02] neves commented on #25
That's true, but I couldn't find a solution for it.
Do you have any idea?

[2017-09-05 20:05] mzvarik commented on #25
I am new to Vue, I am pretty much lost... I am now using the Vue component here, that works, but it just adds decimals:
https://jsfiddle.net/chrisvfritz/1oqjojjx/?utm_source=website&utm_medium=embed&utm_campaign=1oqjojjx

Also this one is nice:
http://www.decorplanit.com/plugin/

[2017-09-09 00:08] MoacirSchmidt commented on #25
Guy, this is the best masked input for vue I have ever seen! Unfortunately, "Decimal places always needed" suggestion is a "must have" enhancement....I have no idea how to implement these vue components, but do you have access to low level javscript routines to implement that?

[2017-09-15 11:06] mp3il opened #26 "[Question] Possible to limit value range?"
Hi,

Is there any simple approach to limit the value, for example, to accept numbers between 0-100?

Thanks.

[2017-09-15 11:51] mp3il commented on #26
#24 duplicate.

tried to solve it with a pull request: #27

[2017-09-15 11:51] #26 closed

[2017-09-21 17:51] discovermotion commented on #15
Any status on an update for this?  Thanks.

[2017-09-24 13:23] joeappleton18 opened #28 "Empty model gets a default value of 0"
Is there any way to override the empty model of being assigned a default value of 0?   I'd  like to just have a blank text box

[2017-09-27 15:44] herbertscruz opened #29 "Add filter"
What do you think of adding a filter to the package? If you want I can send you a suggestion.

[2017-09-27 15:49] anteriovieira commented on #29
It would be great. 😄

[2017-09-30 15:13] ismet opened #31 "Incompatibility with buefy"
v-money and Buefy UI framework have a problem with each other.

If you use Buefy input component `<b-input>`,  you cannot set value of input. It took several hours for me to figure it out..

The following is not working;
`<b-input class="input" v-model="price" v-money="money"></b-input>`

The following is working;
`<input class="input" v-model="price" v-money="money" />`

[2017-10-12 03:16] monkhsaikhan opened #32 "blur event"
Help!!!
Need blur event. @blur="someFunction" not working! Pls help me

[2017-10-15 12:56] iFgR opened #33 "Can it be optional?"
I have dynamic fields that come from the database and they may or may not be money type.
Can it be optional if I pass NULL value or something like that?

[2017-10-15 18:14] AndreasHerss commented on #25
I Agree, this is the only thing that is keeping me from using this package :(

[2017-10-16 18:11] neves commented on #17
Fixed with 0.8.1

[2017-10-16 18:11] #17 closed

[2017-10-16 18:11] neves commented on #33
Fixed with 0.8.1

[2017-10-16 18:11] #33 closed

[2017-10-16 18:13] neves commented on #32
try ` @blur.native="someFunction"`

[2017-10-16 18:13] #32 closed

[2017-10-29 04:14] #22 closed

[2017-10-29 04:15] #23 closed

[2017-10-31 16:16] leok85 opened #35 "Initial value"
If I start the component with an integer value, for example 50, it should interpret it as number 50.00, but with the mask the input number stays as 0.50

You can reproduce the problem by paste the number 50
https://vuejs-tips.github.io/v-money/

*sorry my english

[2017-11-10 16:45] phiter opened #38 "Use the plugin without node imports"
Hi, I'm using vue for a single page to resolve one simple problem.

The problem is that all the examples are using imports, and I cannot use that.

I need to use the plugin without using the imports, like [this plugin](https://github.com/probil/v-mask) allows you to.
[code]
I believe it's called UMD, so is  it possible to do this?

[2017-11-14 12:16] cannap opened #39 "Not working with nuxt?"
HI i try to use this plugin with nuxt but when i say

plugins/vue-money.js
[code]
nuxt.config.js

[code]
Directive is not defined and component are not registerd

i tried in <no-ssr></no-ssr>

i dont know where the problem is on nuxt side or on this component :P
Solved i installed vue-money and not v-money

[2017-11-14 12:30] #39 closed, assigned to nobody

[2017-11-14 16:05] Djangoum commented on #38
Hi @phiterf ,

I've found a roundtrip to achieve this. Looking inside the code you can see the name "VMoney". In my browser console i've inspected this and looking inside there's an object called directives. You can insert te directive to Vuejs the following way:

`Vue.directive('money', VMoney.Money.directives.money);`

I hope this helps you !

EDIT:

If you want to use it as a component you can

[2017-11-15 10:23] MaGaKZ commented on #28
Yep, because default value is 0, the placeholder is not showing

[2017-11-15 11:40] ihti opened #40 "Why input type 'tel'"
`<input type="tel"` Why is used type tel, wouldn't be more appropriate to use type 'number'?

[2017-11-15 13:47] neves commented on #40
That's for better mobile support

[2017-11-16 03:36] renatosistemasvc commented on #28
me too
I want you to provide the user with the option to leave the field blank

[2017-11-16 03:38] renatosistemasvc commented on #15
I want you to provide the user with the option to leave the field blank

[2017-11-18 19:18] renatosistemasvc commented on #35
The problem happens when the data is of the type string. The library works correctly when the data is of type number.

It would be good to work in both situations.

[2017-11-30 13:50] lucassmacedo opened #41 "Block Negative Numbers"
Hello! How i block negative numbers?

[2017-12-01 17:11] Arwany opened #42 "Trigger @change event"
Hi,

how can I make the input trigger a change event? I want to make something like this:

[code]

This did not work, which I suppose is not supported right now...

Thank you!

[2017-12-04 11:23] neves commented on #42
Did you try `@change.native`

[2017-12-04 12:53] Arwany commented on #42
Thank you @neves  for your answer. I will give it a try and report back (close this issue if it solved my problem).

[2017-12-04 16:55] Arwany commented on #42
This worked, thank you!

[2017-12-04 16:55] #42 closed, assigned to nobody

[2017-12-04 23:38] talski opened #43 "Unformat mixin"
Hello, you say masked: false doesn't work with directive, so it would be great to have a built in mixin to unformat a masked value, like so:

unformatMoney('R$ 1.234.593,20 #') => 1234593.2

[2017-12-05 01:17] talski opened #44 "Can't programmatically change the value with Vuetify"
When using with Vuetify, I can't reset the model value

https://codepen.io/talski/pen/MOxZXX?editors=1010

[2017-12-05 20:11] neves commented on #43
I'll expose this method https://github.com/vuejs-tips/v-money/blob/master/src/utils.js#L18

[2017-12-05 20:24] neves commented on #44
I'll check it.

[2017-12-09 12:22] EdnaldoNeimeg commented on #42
Should be in docs :(

[2017-12-17 02:23] lchhieu commented on #44
same issue

[2017-12-27 13:32] williampaulo commented on #42
Hello, I tried to use @ change.native, but for each digit the method is called 3 times

[2018-01-02 16:46] ankurk91 commented on #24
Watch
https://github.com/vuejs-tips/v-money/pull/36
For updates

[2018-01-02 16:46] #24 closed

[2018-01-03 12:38] phiter commented on #18
No fixes yet?

[2018-01-09 19:12] Arwany opened #45 "Embedding v-money in other component"
Hi,

I have the following issue:

when I try to capsulate this component in other component, something like:

[code]

and try to use it somewhere else like:

[code]

It looks like it works, but of course there is a problem of modifying the props, which is:

```[Vue warn]: Avoid mutating a prop directly since the value will be overwritten whenever the parent component re-renders. Instead, use a dat

[2018-01-15 06:59] spicydog opened #46 "Cursor at the click position when click on v-money instead of moved to the most right"
When check on v-money, how to make cursor appear on at the clicked position.

For example, when I click at the front of the box, the cursor should appear at the front.

However, at the moment, when v-money is focused, the cursor always on the back.

Is there an option to make cursor appear at the clicked position like vue-the-mask?

Thanks.

[2018-01-18 00:36] ardifirmansyah8 commented on #14
@muratbsts how you solve this in element ui? i cant changed the value too

[2018-01-18 07:05] murat commented on #14
@ardifirmansyah8 I stopped use v-money with el-input both. I'm using as the directive.

[2018-01-25 12:19] evandroabukamel commented on #44
I'm having the same problem.

I put v-money inside another component. When I try to programmatically change the value on the v-model of the parent component, the v-money keeps the old value.

[FIXED] I was using a this.$nextTick without need to change the child component value.

[2018-01-27 15:33] rothariger opened #47 "without an input?"
Hi,

i'm trying to apply a v-money mask to a couple of labels, is there a way to accomplish this?

regards.

[2018-02-01 17:33] gfviegas commented on #15
@neves any progress?

[2018-02-06 10:43] rockylhc commented on #41
Seems like downgrade to 0.7 is the only way to now

[2018-02-06 17:45] leonardojobim opened #50 "Is there any way to retrieve the numeric value ?"
The v-model returns a string with formatted value when using directives.
Is there any way to retrieve the numeric value ?

[2018-02-11 05:11] roncemer commented on #25
Yes, there should be an option to lose the implied decimal point.  Just let the user enter text free-form, then when the input loses focus, convert it to a number, round it to the correct scale, then put the rounded and formatted number back into the input and update the model's value accordingly.

[2018-02-22 17:48] luizhenriquerdias commented on #44
Same here. Any update?

[2018-02-22 17:49] luizhenriquerdias commented on #44
Same here. Any update?

[2018-02-26 14:44] dyegonery commented on #43
@neves Could you elaborate on how we can use this method? Afaik, when `masked` is set to false, the output returns the raw value, but the input also present the value without the formating. It's weird, to be honest.

[2018-03-01 15:38] rafaellarrosa commented on #44
Same here...

[2018-03-01 17:36] rafabiel commented on #44
the problem is with v-text-field, with good inout works

[2018-03-01 17:36] rafaellarrosa commented on #44
the problem is with v-text-field, with input works good

[2018-03-14 14:28] kevinfaveri commented on #44
Same here... but I'm using ElementUI (element.eleme.io)

[2018-03-14 16:49] kevinfaveri commented on #44
While there is no solution, pure Javascript can be used to set the input value and then create an 'Input' event, which is the event that the 'v-model' directive listens to:
`domInputElement.value = newValue;`
 `domInputElement.dispatchEvent(new Event('input'));`

[2018-03-14 16:51] phiter commented on #33
It's not. It accepts only String or Number

[2018-03-16 01:00] bgoncal opened #52 "How to "maxlength" in this component?"

[2018-03-16 12:41] LucasMarquesDePaula commented on #44
I think this https://codepen.io/LucasMarquesDePaula/pen/zWBVgg fixes the issue

[2018-03-16 12:53] stuartcusackie opened #53 "[Vue warn]: You may have an infinite update loop in a component render function."
I get the following warning when using computed get and set on a <money> component.

Code:

[code]

Also using Vuex.

[2018-03-16 13:01] stuartcusackie commented on #53
And I solved it two minutes later. Not sure if this is a workaround, or intended behaviour, but I had to check that the new value is different to the old value, like so:

[code]

[2018-03-16 13:01] #53 closed, assigned to nobody

[2018-03-24 01:27] bgoncal commented on #35
Even if it's a number, didn't work for me @renatosistemasvc

[2018-03-24 01:33] bgoncal commented on #18
Still have the bug

[2018-03-30 02:55] liuyao61 commented on #42
+1 @ change.native trigger the method 3 times every change

[2018-03-30 03:01] liuyao61 commented on #42
@williampaulo I use @blur.native and it works for my purpose.

[2018-03-30 03:09] liuyao61 commented on #15
Is there any fix for this?

[2018-03-30 03:19] acirinelli commented on #15
I gave up and moved on.. For those still waiting/hoping for this fix, the [vue-autoNumeric](https://github.com/autoNumeric/vue-autoNumeric) package is really nice and behaves as one would expect!

[2018-04-03 19:53] paulpv commented on #52
Ditto. Dealbreaker without ability to define max value. :/

[2018-04-03 19:54] paulpv commented on #50
let number = Number(textValue)

[2018-04-03 20:10] johnleider commented on #44
We are currently in the process of updating all form components for v1.1. If you can fix the codepen to produce the issue, I can verify it against our latest work.

[2018-04-04 22:09] paulpv commented on #44
@johnleider What do you mean "If you can fix the codepen to produce the issue"?
The original codepen (https://codepen.io/talski/pen/MOxZXX?editors=1011) produces the issue and doesn't log any console errors.
I have a slight variant of the original code pen that uses an array of prices instead of a single price:
https://codepen.io/paulpv/pen/oqMeXd

[2018-04-04 22:13] johnleider commented on #44
I must of been looking at something incorrectly, thanks @paulpv

[2018-04-04 22:13] paulpv commented on #44
@johnleider NP; I am certain you are busy!

[2018-04-04 22:53] paulpv commented on #52
Would be nice if they would merge https://github.com/vuejs-tips/v-money/pull/36!

[2018-04-14 18:48] mukatk commented on #44
I saw a workaround somewhere and the same solution works to Vuetify

https://codepen.io/mukatk/pen/NYZvPW

[2018-04-16 12:40] luizhenriquerdias commented on #12
Just v-money doesn't work on v0.8.1.
I still need to use v-money={}

[2018-04-19 15:15] mcrider opened #54 "Placeholder option?"
Is it possible to use placeholder text instead inside the input of just displaying the default model value?

[2018-04-21 18:03] alejandro-martinez commented on #50
Supposedly with masked: false you get the raw value, but it's not working

[2018-04-23 17:52] eternalcode0 commented on #35
Here's a reproduction https://stackblitz.com/edit/js-ueo8am?file=index.js

[2018-04-24 13:59] renatosistemasvc commented on #35
I'm using the component:

`<money v-model="price" v-bind="money"></money>`

Instead of:

`<input v-model.lazy="price" v-money="money" />`

[2018-04-24 14:49] eternalcode0 commented on #35
@renatosistemasvc So are the directive and and the component supposed to function differently? Either way, it seems the issue isn't with the component but rather with the directive.

[2018-04-24 14:55] renatosistemasvc commented on #35
@eternalcode0  Yes! There is a bug in the directive.
But if you use the direct component, the problem is solved.
The component also uses the directive internally. But for some reason, using the component directly makes the problem go away.

I'm using it in my projects and it's working fine.
I downloaded the src folder from this repository and adapted the library to work with null values and with v

[2018-05-07 18:49] DinsmoreDesign commented on #54
+1, would love to know this as well. I have a requirement from a client where they want to not show a default value - v-money will always force a value of 0. I don't want to mask unless the user has input something.

[2018-05-07 18:58] DinsmoreDesign commented on #15
@acirinelli Good looking out! I've used v-money for several projects in the past, but the ability to set the value to blank before any user input is a requirement of my latest project and it doesn't look like it's possible right now. I'll definitely give this a whirl, instead!

[2018-05-09 03:02] renatosistemasvc commented on #15
I downloaded the project and made some changes. Now it works with blank value.
I do not know why the project maintainer does not change.
I'll post the changes here for anyone who wants to change

1- You download the project and copy the src folder somewhere inside your project;
2 - Inside your main.js file you initialize the local library:

[code]

3 - in the component.vue file (inside the src fol

[2018-05-11 19:43] obelich commented on #6
how i can block the negative ?

[2018-05-16 09:00] ahoiroman opened #56 "Fragmented instance"
Hello everybody,

I got a problem on using your component.

First of all: I'm not a Vue.js specialist. I am developing small MIT-licensed extensions for Pagekit CMS (https://pagekit.com) and I would like to use `v-money` on my next.

Pagekit uses Vue 1.x .

So this is what I did so far:

`item-edit.js`

[code]

As you can see here, I'm including a component. This component contains the input field

[2018-05-16 18:55] matthew-socialcore commented on #54
+2000

[2018-05-18 13:35] luizhenriquerdias opened #57 "Triggering multiple events in Vue with Vuetify"
Hi! I'm watching the console of my project with Vue Dev Tools on Chrome and I saw that if I open a component that has a v-text-field with v-money, it starts to trigger multiple input $emit events.
Is it the correct behavior?

Vue 2.5.13
Vuetify 1.0.18
V-Money 0.8.1

Event info:
`name:"input"
type:"$emit"
source:"<v-text-field>"
payload:Array[1]
0:"R$ 0,00"`

`<v-text-field label="Preço unitário" v

[2018-05-20 11:19] Christilut commented on #50
If the masked value is `€ 10.500` (so ten thousand) then the above results in NaN and if you remove the `€ ` beforehand, then it results in `10.5`.

How does one reliably get the original value?

[2018-05-21 07:13] fergardi commented on #54
This will be interesting for me as well, +1.

[2018-05-23 07:11] fergardi opened #58 "Project dead?"
I'm assuming by the age of the open issues this repository is no longer maintained.

Is this correct?

Cheers.

[2018-05-23 14:41] NanoDev777 commented on #29
Is this option available?

[2018-05-23 15:12] anteriovieira commented on #29
It is available in [v-money-plus](https://www.npmjs.com/package/v-money-plus)

[2018-05-23 16:56] thiagoreri commented on #29
Is this option removed?

[2018-05-29 07:32] mesqueeb commented on #39
Did you disable srr in Nuxt settings?

[2018-05-29 07:34] mesqueeb opened #59 "How to globally register directive?"
I have a request for enhancement in documentation:
What I can't figure out is how to use it as a directive but set it up to use it globally.

Explanation usage at **A** is only the component I think.

Thanks so much.

[2018-05-29 09:20] cannap commented on #39
@mesqueeb no i installed the wrong package :D

[2018-05-29 09:27] mesqueeb opened #60 "[Request] Vue filter"
Dear maker of this wonderful extension.
I am trying to use the input mask as a [Vue Filter](https://vuejs.org/v2/guide/filters.html).
I haven't been able to figure out how yet.

Could / would you add this functionality for us?

Thank you SO MUCH!

[2018-05-29 09:28] mesqueeb commented on #59
Please use the following to register globally:
[code]
Then you can use it as `v-money` directive globally.

[2018-05-29 09:28] #59 closed, assigned to nobody

[2018-05-29 09:33] mesqueeb commented on #58
@fergardi Don't stop believing in the maker. He is almighty.

PS: I currently need the new feature to make it into a [Vue Filter](https://vuejs.org/v2/guide/filters.html). If this is not possible I'm not sure how to do it! : S
Any ideas?

[2018-05-29 09:34] mesqueeb commented on #47
@rothariger I need the exact same thing!
See my official feature request here: https://github.com/vuejs-tips/v-money/issues/60

Did you figure out how to do this since 28 January?

[2018-05-29 09:35] mesqueeb commented on #29
@herbertscruz  I need the exact same thing!!!!
See my official feature request here: https://github.com/vuejs-tips/v-money/issues/60

Did you figure out how to do this since 28 September 2017?

[2018-05-29 09:48] mesqueeb commented on #29
@anteriovieira I need a similar thing to this:
`Example: {{'1234' | money}}`
However, I need to be able to add options on a per-element basis.
eg:
[code]
And then define the options somewhere!

Do you know how to do this?

[2018-05-29 09:52] rothariger commented on #47
Hi @mesqueeb, well yes and no, I've  changed all my 3rd party libraries for kendovue...

[2018-05-29 11:30] anteriovieira commented on #29
Hi @mesqueeb , You can provide the options normally.
eg:
[code]
Available options:

https://github.com/vuejs-tips/v-money/blob/694fecf8212cde639cd4d4de680c1c20fc04a477/src/options.js#L1-L7

[2018-05-29 12:10] mesqueeb commented on #39
`v-money` is the correct package. This Github page is for `v-money`.

[2018-05-29 12:13] mesqueeb commented on #29
@herbertscruz @anteriovieira It seems your `v-money-plus` package is much better! But has no Github page! I would really consider this!
Do you think you can do it?

[2018-05-29 12:48] anteriovieira commented on #29
Repo https://github.com/herbertscruz/v-money

@mesqueeb this is a temporary package, the intent was to only use the feature until the pull request was accepted. Once the pull request is accepted the v-money-plus package will no longer be needed.

[2018-06-01 14:40] #57 closed, assigned to nobody

[2018-06-01 20:29] luizhenriquerdias commented on #44
I made a directive based on v-money that works with Vuetify (v-text-field) and normal inputs.
Note: I made it to work with Brazilian Real (R$) but you can change in the code.

https://github.com/luizhenriquerdias/v-money

[2018-06-11 14:19] lauroguedes commented on #56
The same problem is happening with me.

Look errors:

`Missing required prop: value (found in component: <money>)`
`Attribute "v-model" is ignored on component <money> because the component is a fragment instance: http://vuejs.org/guide/components.html#Fragment-Instance`

[2018-06-13 13:50] saeedvz commented on #47
any fixes?

[2018-06-13 21:31] breaktag commented on #54
+1. I would love this option too. At the moment, showing 0.00 is confusing to my customers as they think the price is zero as opposed to been not set

[2018-07-23 22:51] xerminada commented on #54
+1
would love too...

[2018-07-24 15:57] aakashbashyal21 opened #62 "Does not bind value on computation"
While i use this the value does not get updated on input box.

`<money v-model="data.item.cost" v-bind="money" :value="10 * 2" size="sm" class="form-control"></money>`

Is there any way to make this work?

[2018-07-27 07:15] francsiswanto opened #63 "@change not working"
Hi
how to capture change event inside money component?
Thanks.

[2018-07-27 22:01] danielschmitz commented on #63
Yeap, change isn't working..

watch a value works...

https://codepen.io/danielschmitz/pen/BPmBay?editors=1010#0

[2018-07-27 23:51] francsiswanto commented on #63
Not convenient for dealing with many objects. I have a list of price and I
want to edit all price at once inside td table. I guess I have to find
another solution.
Thanks.

On Sat, Jul 28, 2018, 05:01 Daniel Schmitz <notifications@github.com> wrote:

--

____________________________________________
Franc Siswanto (fr.siswanto@gmail.com)

[2018-08-02 15:08] albayraktaroglu commented on #14
I had the same issue I see that the component can't hold the .00 precisions.

Ex:
if our variable is 1.00 Js interpret as 1 rather than keeping it like 1.00 but we can't say the same thing for precisions with other values like 1.23 is interpreted as 1.23

So seems like currently, the component can handle the case if you are holding your variable as strings. "1.00"  is displayed correctly.

https:/

[2018-08-03 20:35] thiagoreri opened #64 "Very slow"
When I use more than 100 inputs with directive, it locks the screen, gets very slow

[2018-08-04 12:08] #64 closed, assigned to nobody

[2018-08-15 20:03] andrewevans opened #65 "Instead of blank fields being 0, can they be blank?"
I have added a short circuit on `format()` and `unformat()` to return the input as an empty string if that's what it is. The current behavior changes empty string `''` into `0`. I can do a PR if this is a desired feature.

[2018-08-16 23:05] nholden commented on #65
Hi, @andrewevans! I think my PR https://github.com/vuejs-tips/v-money/pull/51 addresses what you've noticed.

[2018-08-17 00:10] andrewevans commented on #65
Yes it completely does. Closing this issue.

[2018-08-17 00:10] #65 closed, assigned to nobody

[2018-08-30 13:17] MartinX3 commented on #44
in my e2e tests with selenium / chromedriver I saw the same issue.
With nightwatch and gebish.
The new value gets appended to the old one.

[2018-09-03 12:31] averied commented on #44
This plugin breaks reactivity of inputs after adding the v-money parameter. I'm using v-model binded to vuex state.

[2018-09-12 16:56] juanbrujo opened #67 "Conditions (v-if) broken after reaching v-money limits"
I'm using v-money next to an input, sharing `v-model` binding. When input reaches v-money limits (min and max), console throws an error and breaks a `v-if` warning validation I'm using.

![screen shot 2018-09-12 at 13 26 16](https://user-images.githubusercontent.com/362186/45440430-9967d780-b692-11e8-88de-c3467fe08936.png)

Removing the v-money directive from the <template> and just using the inpu

[2018-09-12 16:58] #67 closed, assigned to nobody

[2018-09-13 17:42] bart commented on #28
@nholden This is a different use case. You plugin just set's the input field blank, but we also need a blank value here.

[2018-09-13 18:42] nholden commented on #28
Good point, @bart! My PR allows the text box to be blank, but it still results in a value of 0. That worked fine for my use case, but maybe there are situations when you'd want that value to be `null`.

I'm not planning to make any additional changes to my PR, but anyone else is welcome to give it a shot.

[2018-09-13 19:47] juanbrujo opened #68 "autofocus attribute"
Maybe pass autofocus HTML5 attribute to input by `<money v-model="amountInvest" v-bind="money" autofocus></money>`? I can create a PR with this if you agree.

[2018-09-17 20:45] thedamon commented on #45
I've created a localValue mixin for issues like this:

[code]
and then use `v-model="localValue"` in your Number input

You could also perhaps try using it as a directive instead of a component to get around this. Although if this error is coming up from inside v-money, it might not solve the issue

[2018-09-18 08:30] Arwany commented on #45
I will try it, thanks for the answer.

[2018-09-18 13:23] thedamon commented on #19
"correct place" ? if the user wanted to type at the end maybe they would have clicked at the end. other inputs do not function this way, and is very difficult to change 100000000000 to 100200000000....

[2018-09-18 16:26] thedamon commented on #46
This is intended behaviour. I agree that it shouldn't be like this, but [this commit](https://github.com/vuejs-tips/v-money/pull/2) explicitly sets this as the normal behaviour (despite contradicting how inputs normally work).

[2018-09-21 14:42] juanbrujo opened #69 "suffix messing result"
I'm trying this configuration:

[code]

And it's crashing the browser, somehow it's computing next to the given value. I've seen the source and no idea why or how. See gif:

![sep-21-2018 11-38-56](https://user-images.githubusercontent.com/362186/45887945-3f05ff80-bd93-11e8-9919-c896c946f8cf.gif)

[2018-09-24 14:19] npulukuri opened #70 "v-money directive not displaying decimals properly"
Hi,
I am using v-money directive. I kept the precision as 2. When the value is 16000, It is displaying as 160.00. It is working fine for the values that has already decimals. For example 15200.48 is fine. If I key precision as 0, 16000 is displayed properly but 15200.48 is displayed as 1520048. Is there any way to take care of the value that do not have decimal values. I want the output for 16000

[2018-09-24 17:44] npulukuri commented on #18
Any update

[2018-10-02 09:05] Christhofernatalius commented on #70
#25

[2018-10-12 13:31] SrAxi commented on #50
[code]

This will output a numeric value regardless of which decimal separator you're using.
Just remember to add your currency symbol to the first regex.

Example:
[code]

[2018-10-12 16:27] WesleyF commented on #70
I have the same issue with binding...

[2018-10-15 07:35] KaelWD commented on #44
`v-model.lazy` doesn't work on components, you have to listen to `@change` yourself: https://codepen.io/anon/pen/BqmBjb?editors=1010

vuejs/vue#6914

Edit: the mask then breaks after resetting the input, so there's still a bug somewhere

[2018-10-15 07:37] SrAxi commented on #18
You can compute the value of the input. Imagine I have the `value` received in `props` or declared in `data`:

[code]
In the input, you can then just use `:value="formattedAmount"`.

The method `decimalFormat` will add zeros according to your precision. So you will always have the value that you intended.

You could even do this in same computed method:
[code]

[2018-10-19 19:41] Tecayehuatl opened #71 "Can I use directive way and get the raw output?"
Can I use _directive way_ and get the raw output? I see the masked property doesn't work in the directive way ```masked: false /* doesn't work with directive */ ``` only works in the component way, is there any way to get output values using _directive_ way?

[2018-10-23 18:12] lucasvst commented on #43
doesn't make sense do a mask and cannot unmask the data. What do I do with a string prefixed as a currency? Everybody needs the real value of the field instead a string...

[2018-10-29 12:26] victortolbert opened #72 "What is the usage license?"
I couldn't find the licensing information.

[2018-11-01 22:30] vientoquesurcalosmares commented on #19
I agree with you, this is a problem for the user

[2018-11-02 07:45] luizrobertomeier commented on #44
Is there any alternative to v-money? I am developing a commercial application and it is fundamental to format R $ 123,345,678.00. This is the default in Germany, Brazil and other countries. Thank you.

[2018-11-02 10:05] nekosaur commented on #72
The license is specified as MIT in `package.json`

[2018-11-14 20:15] #72 closed, assigned to nobody

[2018-11-16 00:39] JoelTankard opened #73 "Input gets stuck on negative values when used as directives"
There is no way to make a value positive again after pressing the minus key when using v-money as a directive.

[2018-11-17 11:07] luizrobertomeier commented on #44
Just one more option :
https://www.npmjs.com/package/v-currency-field

[2018-11-19 14:42] tfolk commented on #70
Same issue. Here's a JSFiddle demonstrating the issue:
https://jsfiddle.net/nj3cLoum/1892/

[2018-11-20 04:32] yvdlima commented on #54
You can show the input placeholder using the v-money directive instead of the component.

`<input placeholder="00.00" v-model="price" v-money="price !== null ? money : null"     class="form-input input-lg" />`

Fiddle adapted from the `read.me`: https://jsfiddle.net/fnxub0yg/1/

[2018-12-04 03:31] mrsweetie-k commented on #54
@yvdlima
Actually I want to get unmasked value. Then I cannot use the directive.
So I should use the component, but the component cannot accept null.

[2018-12-04 05:31] yvdlima commented on #54
@kimyeongbin
As a workaround you could remove the mask manually:

[code]

[2018-12-04 06:56] mrsweetie-k commented on #54
@yvdlima
~~How about changing the value prop of the component to allow null ?
I don't know the side effect of it, but I simply think that's the best way without doing ugly things.~~

I find this fork. I'm using the allowBlank option and it can be solved.
nholden/v-money

https://github.com/vuejs-tips/v-money/pull/51
https://github.com/nholden/v-money

[2018-12-04 10:50] ptrk8 commented on #73
Having the same issue.

[2018-12-13 18:11] swinadeor opened #74 "Function setCursor is getting triggered infinitely in Safari"
We found an issue when having more than one money field in our application in Safari. When the user enters a value in one field and then changes to the other and inserts another value and then goes back and does the same in a cycle many times then we get some flickering between both fields as if it doesn't know which to do the focus so it tries to do the focus in one and then the other and so on..

[2018-12-19 13:37] viddity commented on #71
👍 Same problem, I need to set a placeholder – which is only working when using as directive –, but I also need the component to emit the raw value, only working as component. 🤷‍♀️

[2018-12-19 16:42] elmoknit opened #75 "Can't build after fork your project."
Hi!

I forked your project to make a change. I want to build it to have the dist folder, but it doesn't work.

[code]

Feeling stupid to ask this, but what do I do wrong.

Thanks for helping me!

[2019-01-07 06:00] mrabdolian commented on #23
I have the exact same problem!
Did you find a solution?
If yes, please share with us. 🙏🏻

We're using "nuxt v2.2.0" and "v-currency-field v1.0.5" (that is built based on v-money).

Thanks.

[2019-01-08 10:26] nattyluke opened #76 "TypeError: "o.suffix is undefined""
Inserting V-Money in my Project works nice, but when I try changing the number in the input field, the number disapears and in the input field the following is written:
undefinedNANundefined.

I'm using Browserify, maybe i have got a babel problem because i dont get es2015 to work?
Any Ideas how to fix this?

Thank you

[2019-01-08 10:27] nattyluke commented on #76
The error message in the console is the following:

[2019-01-09 07:08] bakhti-ai commented on #53
@stuartcusackie That doesn't work for me (. I have the same code with you. And in my component I used v-money as  `money(type="text" v-bind="money" v-model="myComputedProperty")`

[2019-01-22 11:44] diegomagikal commented on #75
Same here...

[2019-01-22 14:00] diegomagikal commented on #71
Same here...

[2019-01-25 05:30] Nerossoul commented on #44
Can you show how to use a this.$nextTick to change v-money value?

[2019-02-06 12:06] gustavoborges25 commented on #70
Change the value to string (with dot). "16000.00". In your database use the column as decimal(16,2), not double

[2019-02-12 03:27] aamsur commented on #63
try `@change.native="someFunction"`

[2019-02-15 14:00] MartinX3 commented on #44
Any update on this?

Edit:
For NightwatchJS this seems to be a good approach:
https://github.com/nightwatchjs/nightwatch/issues/1132#issuecomment-340257894

[2019-02-20 00:27] gabod22 commented on #71
Same here...

[2019-02-22 02:52] bocanhcam opened #78 "Not working if has multiple inputs and write the input value is 1.00"
` <money v-model="form.item_price" v-bind="money" name="item_price" class="form-control" ></money>
`

`<money v-model="discount.price" v-bind="money" name="price" class="form-control" ></money>
`

[code]

I have multiple money inputs in my component like this. And when I put 1.00 in money input behind. It is not going to work anymore and even makes my site stop. I can't do anything, can't click on

[2019-02-25 15:25] robvaneck commented on #53
@bakhti-uzb in case you're still looking
I had the same problem
[code]

[2019-02-27 04:02] jofftiquez opened #80 "Add filter version"
For more options, add a filter version like so:

[code]

[2019-02-28 17:59] MateusGruber commented on #71
Same here...

[2019-03-01 03:17] dbomfim commented on #15
@renatosistemasvc Which Vue version did you used to compile?! Mine it's not working...

  Unknown option --config.

[2019-03-01 22:08] thiagohk opened #81 "Error when price has 1 decimal digit"
When the price is 50.1, for example, is being formatted as 5,01.
Running example https://jsfiddle.net/znewk1jb/

[2019-03-11 01:05] dukhevych commented on #71
Same here...
It makes no sense to use this as component. Usually there are already custom wrappers for <input> in projects, so raw value should work with directive.

[2019-03-11 02:56] Tecayehuatl commented on #71
@Landen13 In fact I had to create my own v-directive, for those who think this is a full vue plugin, it's not.

[2019-03-11 10:29] dukhevych commented on #71
@Tecayehuatl could you please share your implementation?

[2019-03-25 16:49] luccasparoni commented on #52
I'm having this issue too, anyone know how to limit v-money component?

[2019-03-25 21:13] ahoiroman commented on #81
Yes - in my case I have to use `number_format($this->price ,2)` in my API resource (PHP) to get this working. It's a ugly workaround, would love to see a fix :-)

[2019-03-26 00:15] bibsbarreto commented on #47
I thought the same thing

[2019-04-02 08:18] umaams opened #83 "Using @keyup.enter in v-money is not working"
It tries using v-money like this:
`<money v-model="price" v-bind="money" @keyup.enter="alert('Yes')"></money>`

and it's not working.

How I can handle that?

[2019-04-03 10:23] ahoiroman commented on #74
I noticed this weird behavior, too.

But: I am not sure, whether this component is still in active development. @swinadeor: Did you find a workaround?

It even happens on the demo site: https://vuejs-tips.github.io/v-money/

[2019-04-03 13:59] swinadeor commented on #74
We didn't find any workaround but another idea was to check out v-numeric.

[2019-04-04 08:34] ahoiroman commented on #74
Thanks for your reply. I checked out dm4t2/vue-currency-input, which is actively maintained. There's a bug at the moment, but I hope the author is going to fix this soon.

[2019-04-04 09:19] swinadeor commented on #74
Awesome! Thanks for the info!! I'll take a look at it. 😃

[2019-04-04 21:04] ahoiroman commented on #74
The issue I reported has been fixed. It‘s a good alternative now.

[2019-04-12 18:52] danielorkae commented on #44
same here

[2019-05-02 21:46] lucasvst commented on #43
Can you expose this method? Every project I start using v-money as directive (using vuetify, e.g.), I need to copy and paste this function :(

__

https://gist.github.com/lucasvst/bf1bf8c66871e5c481189e54ce8a5dd9

[2019-05-06 01:44] valterbarros commented on #44
@kevinfaguiar Your solution work for me I'm using v-money and vuetify

[2019-05-07 14:25] RodrigoFraga commented on #44
workaround solution
https://gist.github.com/RodrigoFraga/49cf179c3fdf5c6f775450b613137bd3

[2019-05-20 12:18] LeticiaLCavalcanti commented on #81
same problem here, '895' comes wrong 8.95! I don't know how can I fix it... Or how can I formatter a v-model money value using other way...

[2019-05-27 15:08] benjaminprojas commented on #46
I found a workaround for this like so:

[code]

And in methods:

[code]

[2019-05-27 18:17] boycce commented on #16
Any progress been made on this?

[2019-06-14 08:43] ellgibug commented on #83
@umaams try @keyup.native

[2019-06-17 11:28] omerciftcibasi commented on #42
@williampaulo thanx for workaround, however it should trigger the change event only one time.

[2019-06-21 19:46] Mikilll94 opened #85 "License ???"
Does this project have any license, like MIT?

[2019-07-05 14:43] yvescavalcanti commented on #44
Same problem with bootstrap-vue when i try to extend Money. If i try to set the value programatically then it is restored to previous value.

[2019-07-21 01:07] S0c5 commented on #85
please ref to #72

[2019-07-21 09:52] Mikilll94 commented on #85
Is it a problem to put a license on Github?

[2019-07-23 22:34] betonix commented on #52
you can put "maxlength" on object money, and works. but you have to put one more, because of the comma.
`money: {
decimal: ',',
thousands: '.',
suffix: '',
precision: 2,
maxlength: 6,
masked: false
},`

[2019-07-28 02:23] robertjoellewis opened #86 "Debounce?"
I am using it in a long array and it's super laggy. Is it possible to debounce normally like an input field? I can't seem to get it to work.

Thanks,
RL

[2019-08-21 14:27] helioelias opened #87 "Need @types for Typescript with Vuejs"
I received the error @types/v-money` if it exists or add a new declaration (.d.ts) file containing `declare module 'v-money';

you can post the @types for v-money.

Thks
Helio Elias

[2019-08-24 14:49] titou10titou10 commented on #71
I just published a package that allows to retrive the unmasked value : https://www.npmjs.com/package/@titou10/v-money

[2019-09-11 13:52] ellepereira commented on #85
I agree with @Mikilll94 - why not just put the LICENSE on github?

[2019-09-17 14:36] Victor7095 commented on #43
@lucasvst How do you use your exported function anywhere?

[2019-09-17 15:02] lucasvst commented on #43
https://gist.github.com/lucasvst/bf1bf8c66871e5c481189e54ce8a5dd9

[2019-09-17 15:02] lucasvst commented on #43
@Victor7095

https://gist.github.com/lucasvst/bf1bf8c66871e5c481189e54ce8a5dd9

[2019-09-24 21:11] melanke opened #88 "Would be nice to be able to disable negative values"

[2019-09-27 19:45] rayanmarcus commented on #42
This works for me. Using `@ change.native` the event was called 3x.

[2019-09-30 01:36] matheushf commented on #52
Workaround is to wrapp it in another component and use this:

[code]

Call `calcMaxLength` on your input event

[2019-10-08 02:15] ghost opened #89 "Difference between database and mask"
I have a column in double format (10,2) I manually added the value 10.00 in the database, but it shows me 0.10 in the currency mask

[2019-10-16 18:15] paulodiogo commented on #15
Is there any fix for this?

[2019-10-23 02:32] joao-pedro-alves commented on #89
same here...

[2019-10-24 13:51] mandaputtra commented on #73
@JoelTankard @phao5814 Any solution? or any library?

[2019-10-28 14:38] murilolivorato opened #90 "Display Price with zeros after coma"
Hello , nice class .
I have a question .

I type like this -

[code]

AND  the data will be like that -

[code]

I want display like this in data -

[code]

How can I do it ?

[2019-10-31 17:58] loomchild commented on #41
You can prevent '-' key from propagating by adding an event handler to your input element, for example like this:

    @keydown="$event.key === '-' ? $event.preventDefault() : null"

[2019-11-21 23:37] zacharytyhacz commented on #50
Hey y'all, just wanted to give in my two-cents ( no pun intended ).

This minimal regex will convert the simple format of
`$123,456,789.01`
to
`123456789.01`
[code]

I'm no regex ninja, but it's enough for what I need and I think many others.

[2019-12-06 16:21] jmo-jr opened #91 "Property for original value"
It would be PERFECT if we could use something like `money.source` when we need to send the value to an API, for example. It's a pain to format the number to show (as string) but then need to convert again from string to number. It could have a property `source` or something preserving the original inputed data.

[2019-12-06 16:24] #91 closed, assigned to nobody

[2019-12-06 16:24] jmo-jr commented on #91
https://www.npmjs.com/package/@titou10/v-money

[2019-12-08 03:34] richardaum commented on #75
Probably the author was using a global `vue-cli` at the time he wrote this project. You must install `vue-cli` as `devDependency`:

[code]

[2019-12-22 12:57] PetroGromovo opened #92 "How in v-money component validate with vee-validate"
Hello,
I use v-money component
on the form when I use vee-validate for data validation and the problem is that I can not make money conponent be validated :
I make as :
[code]
@vue/cli 4.0.5
"v-money": "^0.8.1",
"vee-validate": "^3.1.0",
    "vue": "^2.6.10",

[code]

[2020-01-09 12:17] gutisalex commented on #31
still not working... more than 2 years later! Any alternatives? Tried cleave but it does not fit the needs!

[2020-01-20 12:37] timadona opened #93 "Decimal and thousands separator through props"
Is there an option to set thousand and decimal separator as props? As I see, at this time it is only possible to set it up with `locale` prop, but it would be also good to support this options.

[code]

[2020-01-20 15:02] #93 closed, assigned to nobody

[2020-02-05 09:31] belovolalex commented on #92
I have same issue!

[2020-02-05 14:15] fhferreira commented on #78
+1

[2020-02-06 13:48] whande1992 commented on #71
Same here...

[2020-02-06 17:45] jbmikk commented on #47
I need the same thing, I just need to format a string. I don't need an input. Why would I use two different libraries for almost the same thing?

[2020-02-14 00:11] m1stermanager commented on #92
just ran up against this. IMO its an issue w/ vee-validate. check out the regex for numeric:
https://github.com/logaretm/vee-validate/blob/master/src/rules/numeric.ts

decimal places are no good. I did this:

[code]

and all is well.

[2020-02-18 17:06] lndr-ssantos commented on #52
Thank you, @betonix ! Help me a lot!

[2020-02-20 15:53] fhferreira commented on #78
here I added an :key to the parent object and it worked

[2020-02-28 14:30] piovani opened #94 "Zeros being deleted unnecessarily"
When deleting the front number it erases the back zeros

10123,45
123,45

The correct is:
0123,45

[2020-03-03 19:44] murilolivorato commented on #90
???? no awnswer ?

[2020-03-04 14:42] VitorReginatto opened #95 "How to apply v-money to dynamically generated inputs"
Using a dynamic v-model, generated by an array I get the error: You may have an infinite update loop in a component render function.

found in
if I withdraw v-money it works
How could I do this?

[2020-03-11 15:04] murilolivorato opened #96 "Display decimal depois da Virgula"
Olá amigo , primeiramente parabéns pela classe .
Eu preciso que este número -

[code]
vire isto -
[code]

Não isto  -

[code]

Existe esta possibilidade ? por favor , preciso de ajuda .
Obrigado . =)

[2020-04-14 18:54] hamonCordova commented on #96
Você precisa transformar esse número para 58.24. Precisa do ponto flutuante.

[2020-04-17 18:04] hamonCordova opened #97 "How to disabled negative number?"
The only way that i found is checking on key press/down/up. Please, implement this on component.

[2020-04-19 16:55] joserick commented on #97
I made a component based on this that solves this problem using a minimum value, [v-money-spenner](https://github.com/joserick/v-money-spinner) I hope it helps you.

Duplicate of #88

[2020-04-19 17:02] joserick commented on #69
This is a bug, you cannot put numbers in the prefix or in the suffix because it considers them part of the price as an integer, but if you want to use decimals, I made a component for it based on this and fix this bug [v-money-spenner](https://github.com/joserick/v-money-spinner) I hope it helps you.

[2020-04-19 17:42] joserick commented on #95
Can you give me an example? I am interested, since I have a component in this one and I want to know if there is such an error.

[2020-04-28 18:23] fdorantesm commented on #92
That seems that we need to fix it and make PR.

[2020-04-30 15:47] adsonvinicius commented on #86
A very good feature, for a very good project. However totally ABANDONED!

[2020-05-13 16:46] murilolivorato opened #98 "always keep the cents empty"
hello , there is any ways when you start typing , you keep always the the cents like this  - ,00  ?
I want to lock the possibility of the user to change the centes , the cents will be always like this - ,00 .
, like if the user type -
[code]
it will be like this -
[code]

Olá teria alguma forma to manter os centavos ? não permitindo o usuário para fazer alterações nos centavos sempre mandendo os c

[2020-05-15 00:21] Jared-Dahlke opened #99 "support amounts with no decimal?"
great package thank you for this!  I am trying to show an integer like :
1000.0000 -> 1,000 or
235.00  -> 235

is this possible?

I need this because I am showing a value dynamically in a table column like this:
[code]
then reference it here:

`<money
v-bind="getMaskProps(props.item.valueType)"
 v-model="props.item.value" />`

[2020-05-15 01:00] #99 closed, assigned to nobody

[2020-05-15 01:01] Jared-Dahlke commented on #99
sorry guys I noticed this was a problem with my input value, I just trimmed the 4 zeros off the end before processing and the v-money works fine. Thank you again

[2020-05-15 17:32] Jared-Dahlke commented on #15
agreed. vue-autoNumeric solves 2 major problems for me that v-money does not solve:
1. it doesn't force the user to type in decimals
2.it shows as blank if the value is null

[2020-06-02 12:55] murilolivorato commented on #90
no one can help me ?

[2020-06-02 13:02] murilolivorato opened #100 "campo de preço sem a opção do usuário colocar os centavos"
olá , gostaria de fazer um campo de preço tipo do OLX , sabe ?
sem a opção do usuário colocar os centavos , se ele digitar -
500
sairá assim - 500,00

isto é possível ?
por favor , me ajude  . obrigado

[2020-06-05 13:10] joleth08 opened #101 "I'm new here: How to install?"
I don't know how to install this package and If this only need to paste in the project, what are the files I need to paste?

[2020-06-06 22:52] helioh3 commented on #101
To install it, you can run: npm install --save v-money

[2020-06-09 00:21] bearkfear commented on #87
Seria bom!

[2020-07-29 08:02] kalibano commented on #15
any updates regarding fix?

[2020-07-30 12:23] SharpBCD commented on #15
Still nothing? Come on... it is open for 2+ years. Can't be that hard. :-(

[2020-08-11 03:00] minhhoang121296 opened #103 "Not working with big Integer"
I tried the sample code mentioned in the docs: https://jsfiddle.net/auom8st8/
When I try to enter a large number (the number of digits is greater than 18), the result is displayed incorrectly
Is there a way to solve the problem with user input numbers too large?

[2020-08-14 01:55] edsonfeimberg opened #104 "How to associate with a label?"
I am using the component globally, but i can't associate the component with a label like this, for example:

<label for="price">Preço</label>
<money type="text" name="price" id="price" v-model="price">

How could i associate the created input with a label?

[2020-09-08 15:19] marcelobbfonseca opened #105 "v-money deprecated?"
Seems there's no more activity in this project use [vue-currency-input](https://github.com/dm4t2/vue-currency-input) instead

[2020-09-22 23:56] ElizeuBraga commented on #44
`<v-text-field maxlength="10" v-money="money" ref="productPrice" label="Product price" v-model="productPrice"></v-text-field>`
`const input = this.$refs.productPrice.$el.querySelector("input");`
`input.value` = "new value";`

this works for me

[2020-10-04 05:56] igorgoncalves commented on #92
I have same issue T.T

[2020-10-10 17:44] diogopublio opened #106 "Having numbers in suffix property it gives me an infinite loop"
When having numbers in suffix property it gives me an infinite loop.
Is there a way to escape it ?

[code]

[code]

I get:
`[Vue warn]: You may have an infinite update loop in a component render function.
`

[2020-10-12 20:34] igorgoncalves commented on #92
Work's for me with the directive:

[code]

[2020-10-12 22:49] WilliamColmenares commented on #15
it looks this package is no longer maintained, thumbs up for vue-autonumeric.

[2020-10-21 18:38] dumedeiros commented on #89
Same here! Did you solve the problem? @joao-pedro-alves  @eduardobelchior

[2020-11-02 13:18] hawkapparel commented on #81
For "fix" this problem you can use this:
let numberValue = 5200;
(parseFloat(numberValue)).toFixed(2);

will show: 5,200.00

[2020-11-02 13:18] hawkapparel commented on #90
For "fix" this problem you can use this:
let numberValue = 5200;
(parseFloat(numberValue)).toFixed(2);

will show: 5,200.00

[2020-12-29 14:47] amrullahdev commented on #101
thanks

[2021-01-18 15:47] xdeq commented on #6
@obelich

`@keydown="$event.key === '-' && $event.preventDefault()"`

[2021-02-10 08:44] wittayaarm opened #107 "Autoturemoney"
Autoturemoney

__Originally posted by @wittayaarm in https://github.com/wittayaarm/Unknow/issues/1__

__Originally posted by @wittayaarm in https://github.com/sunset-girl/welletItems/issues/1__

__Originally posted by @wittayaarm in https://github.com/snipsco/ntm-lasagne/issues/39__

__Originally posted by @wittayaarm in https://github.com/moneymanagerex/moneymanagerex/issues/2904__

__Originally

[2021-02-13 01:07] joserick commented on #103
Hello @minhhoang121296,

I created a version based on this repository with several previous repairs and adding "spinners" (these can be disabled), apparently I also have this problem when I reach 22 digits (the number of digits is reset to 18), I don't know if you mean this? you can try it? https://joserick.com/v_money_spinner

[2021-02-13 01:12] joserick commented on #105
Or if you need "Spinner" [V-Money-Spinner](https://www.npmjs.com/package/v-money-spinner)

[2021-02-13 01:41] joserick commented on #106
I had this problem, you can use [V-Money-Spinner](https://www.npmjs.com/package/v-money-spinner) (disabling the "Spinner" if you don't need it) this can work with "m2" in the suffix, always and when you have a non-numeric character before any number in the suffix, this will work, in the same way in the prefix you need a non-numeric character at the last "01-"

[2021-02-24 15:36] Adrug commented on #44
I can't reset for native input  also.
https://jsfiddle.net/nj3cLoum/2/

[2021-03-28 19:46] FabioCaue opened #108 "toFixed(x) for non-masked values"
It'd be nice to have `:fixed="2" for example for non-masked values cuz sometimes we need the zeroes in rounded values so it would bring the output like x.toFixed(fixValue).

Of course we can be workarounded if someone needs it but I feel that would be a nice feature for this excellent component.

[2021-04-10 09:05] Macfuture opened #109 "Update values of child component with v-money"
Hello everyone

I’m a Vue newbie and trying to create a webapp to calculate the income and expenses (budget planner).
I use a component with a loop to create the necessary fields. And below there’s a field where I want to calculate the sum of all fields. But I fail to get it to work. I think because the values don’t get updated. The initial values (in data.js) may be not needed, because in the end

[2021-04-13 06:26] ortonomy commented on #41
still relevant in 2021

[2021-04-18 09:21] msadeghyan1996 commented on #47
hi.
i have same problem and a fixed it with below way :

v-bind="{thousands:',', readonly: true}

add readonly attr and add product-price class to <money class="product-price" and delete border&background color in css.

[2021-04-22 03:28] RLSilveira commented on #87
Seria bom!

[2021-04-28 23:56] jonathanpmartins opened #110 "Support for Vue3 (with v-money3)"
I just tried to use this lib with Vue 3 - Quasar 2 and I got this error:
[code]
Could this be related to the upgrade?

[2021-04-30 01:10] jonathanpmartins commented on #110
I don't think support will come soon. So I decided to upgrade this package to be used with Vue3.

Welcome [`v-money3`](https://www.npmjs.com/package/v-money3)

[2021-04-30 01:12] jonathanpmartins commented on #105
If you pretend to use Vue3 in the future, you can use the brand new: [v-money3](https://www.npmjs.com/package/v-money3). Upgraded to work with Vue3

[2021-04-30 01:17] jonathanpmartins commented on #86
@adsonvinicius @robertjoellewis If you guys are using Vue3, I just created a new package called [v-money3](https://www.npmjs.com/package/v-money3). Upgraded to work with Vue3!
Its the same code of this original package, but I will try to increment it with new features.
Community help will be welcome!

[2021-04-30 02:07] jonathanpmartins commented on #58
@fergardi @mesqueeb I'm trying to revitalize this project. If you pretend to use vue3 in the future. I created v-money3 based on this project. [v-money3](https://www.npmjs.com/package/v-money3)

[2021-04-30 04:02] jonathanpmartins commented on #106
@diogopublio Your problem was solved in [v-money3](https://www.npmjs.com/package/v-money3). Unfortunately it is only compatible with vue3.

[2021-04-30 04:34] jonathanpmartins commented on #104
Your problem was solved in [`v-money3`](https://www.npmjs.com/package/v-money3)., unfortunately it's only compatible with `Vue3`.

[2021-04-30 06:03] jonathanpmartins commented on #88
This request was published at version [3.2.1](https://www.npmjs.com/package/v-money3/v/3.2.1) of [`v-money3`](https://www.npmjs.com/package/v-money3) package. Unfortunately it only works with `Vue3`.

[2021-04-30 06:03] jonathanpmartins commented on #97
This request was published at version [3.2.1](https://www.npmjs.com/package/v-money3/v/3.2.1) of [`v-money3`](https://www.npmjs.com/package/v-money3) package. Unfortunately it only works with `Vue3`.

[2021-04-30 07:39] joserick commented on #105
Excellent, now I start migrating [V-Money-Spinner](https://www.npmjs.com/package/v-money-spinner) to Vue3 using [v-money3](https://www.npmjs.com/package/v-money3), thanks @jonathanpmartins

[2021-04-30 18:39] jonathanpmartins commented on #105
If you stumble upon problems, feel free to open an issue in [v-money-3@issues](https://github.com/jonathanpmartins/v-money3/issues). I will try to maintain it more active.

[2021-05-03 06:46] jonathanpmartins commented on #108
hey @FabioCaue,
Unfortunately I don't think support will come soon. This repo seems to be abandoned! I decided to upgrade this package to be used with Vue3.

Welcome [`v-money3`](https://www.npmjs.com/package/v-money3)! hehehhe

I'm interested to maintain `v-money3` for **vue 3** and beyond. Feel free to open this same issue [there](https://github.com/jonathanpmartins/v-money3/issues/new), so we c

[2021-05-03 06:56] jonathanpmartins commented on #103
@minhhoang121296 @joserick

From [Mozilla Javascript Docs](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/MAX_SAFE_INTEGER)

I dont think this is a bug: https://github.com/joserick/v-money-spinner/issues/8

[2021-05-03 07:12] jonathanpmartins commented on #98
@murilolivorato Set the precision to `0` (no decimal places) and the suffix to `,00`.

[2021-05-11 15:58] chris-jamieson commented on #16
For those interested, I just wanted to share I ended up using the [vue-currency-input](https://github.com/dm4t2/vue-currency-input) package for this purpose, which includes the option `value-as-integer` (see [config reference](https://dm4t2.github.io/vue-currency-input/config/#component)).

For the sake of tidiness I will close this issue. Apologies I was not able to contribute to this great packa

[2021-06-02 13:44] JohnEricJahn commented on #87
Deixar aquele up aqui também, realmente seria ótimo.

[2021-06-14 10:09] esamani77 opened #111 "Error on null value and do not return Empty String"
Hi, When v-model is null, the component will throw Error that e in null, I think it's better to replace null into empty String automaticlly.
Also we remove every number in input, It return a '0' String that is not correct. It will better to return empty String as we need.

[2021-06-17 00:41] jonathanpmartins commented on #111
You could use `allow-blank` with [`v-money3`](https://www.npmjs.com/package/v-money3). It has this and other features that `v-money` don't support. But unfortunately it is only compatible with Vue3.

[2021-06-21 18:32] esamani77 commented on #111
That's great, I'll try to implement in `nuxtjs` v2.x.
Tnx a lot.

[2021-06-30 19:23] DiogoBotton commented on #50
When I add the value 800 to v-model for example, v-money shows the data as "8.00". But the right data would be "800". Can someone help me?

[2021-08-23 08:36] evgeniyGusev commented on #54
Thanks! It's cool!

[2021-08-24 23:23] walisoncm commented on #87
[code]

[2021-08-28 03:05] jonathanpmartins commented on #87
This give me a hint to transform [v-money3](https://github.com/jonathanpmartins/v-money3) to TypeScript. Thanks for the involuntary tip @walisoncm !

[2021-08-28 03:14] jonathanpmartins commented on #109
hey @Macfuture,
Unfortunately I don't think support will come soon. This repo seems to be abandoned! I decided to upgrade this package to be used with Vue3.

Welcome [`v-money3`](https://www.npmjs.com/package/v-money3)!

I'm interested to maintain `v-money3` for **vue 3** and beyond. Feel free to open this same issue [there](https://github.com/jonathanpmartins/v-money3/issues/new) if you are plann

[2021-08-28 03:16] jonathanpmartins commented on #101
hey @joleth08,
Unfortunately I don't think support will come soon. This repo seems to be abandoned! I decided to upgrade this package to be used with Vue3.

Welcome [`v-money3`](https://www.npmjs.com/package/v-money3)!

I'm interested to maintain `v-money3` for **vue3** and beyond. If you are planning to upgrade your project to **vue3**, feel free to try to install `npm install --save v-money3`

[2021-08-28 03:21] jonathanpmartins commented on #100
hey @murilolivorato,
Infelizmente acredito que o suporte não virá em breve. Este repositório parece estar abandonado! Decidi atualizar este projeto para ser usado com **Vue3**.

Bem-vindo [`v-money3`] (https://www.npmjs.com/package/v-money3)!

Estou interessado em manter `v-money3` para **vue3** e além. Sinta-se à vontade para abrir esta mesma issue [lá](https://github.com/jonathanpmartins/v-money

[2021-08-28 03:25] jonathanpmartins commented on #96
v-money3 suporta isso utilizando `v-model`. (only vue3 support)

- 5824 com 2 casas decimais vira `58.24` utilizando `v-model`.
- 5824 com 2 casas decimais vira `5824.00` utilizando `v-model.number`.

Mais informações: https://github.com/jonathanpmartins/v-money3/issues/38#issuecomment-903214235

[2021-08-28 03:27] jonathanpmartins commented on #94
Hey @piovani Is this ok with [v-money3](https://github.com/jonathanpmartins/v-money3)?

[2021-08-28 03:29] jonathanpmartins commented on #85
[v-money3](https://github.com/jonathanpmartins/v-money3) for **vue3** is MIT

[2021-08-28 03:31] jonathanpmartins commented on #81
hey guys,
Unfortunately I don't think support will come soon. This repo seems to be abandoned! I decided to upgrade this package to be used with Vue3.

Welcome [`v-money3`](https://www.npmjs.com/package/v-money3)!

I'm interested to maintain `v-money3` for **vue 3** and beyond. Feel free to open this same issue [there](https://github.com/jonathanpmartins/v-money3/issues/new) if you are planning to

[2021-08-28 03:34] jonathanpmartins commented on #54
hey,
Unfortunately I don't think support will come soon. This repo seems to be abandoned! I decided to upgrade this package to be used with Vue3.

Welcome [`v-money3`](https://www.npmjs.com/package/v-money3)!

I'm interested to maintain `v-money3` for **vue 3** and beyond. Feel free to open this same issue [there](https://github.com/jonathanpmartins/v-money3/issues/new) if you are planning to upgr

[2021-08-28 03:37] jonathanpmartins commented on #69
Is this type of behavior solved with [v-money3](https://github.com/jonathanpmartins/v-money3) ?

[2021-08-28 03:40] jonathanpmartins commented on #52
hey,
Unfortunately I don't think support will come soon. This repo seems to be abandoned! I decided to upgrade this package to be used with Vue3.

Welcome [`v-money3`](https://www.npmjs.com/package/v-money3)!

`v-money3` has the `max` attribute that takes care of maximum user inputs. Feel free to test it out!

[2021-08-28 03:42] jonathanpmartins commented on #44
hey,
Unfortunately I don't think support will come soon. This repo seems to be abandoned! I decided to upgrade this package to be used with Vue3.

Welcome [`v-money3`](https://www.npmjs.com/package/v-money3)!

I'm interested to maintain `v-money3` for **vue 3** and beyond. Feel free to open this same issue [there](https://github.com/jonathanpmartins/v-money3/issues/new) if you are planning to upgr

[2021-08-28 03:45] jonathanpmartins commented on #41
hey @ortonomy,
Unfortunately I don't think support will come soon. This repo seems to be abandoned! I decided to upgrade this package to be used with Vue3.

Welcome [`v-money3`](https://www.npmjs.com/package/v-money3)!

I'm interested to maintain `v-money3` for **vue 3** and beyond.

Negatives numbers can be blocked using the `disable-negative` property on the component. Feel free try it out!
Open

[2021-09-16 18:35] Macfuture commented on #109
Hi @jonathanpmartins,
Thanks to let me know!

[2021-09-16 18:35] #109 closed, assigned to nobody

[2021-11-23 13:03] brunofunnie commented on #41
This can lead to false validation cause you can copy/paste a negative value

[2022-01-17 14:48] AleejandroReyna commented on #42
In my case, @change.native is executed x24 times :(

[2022-04-12 13:30] pm-ribeiro opened #112 "How to override global options"
I'm trying to use v-money globally as a directive, so i followed the documentation, and added the following snipet:

`
import money from 'v-money';
Vue.use(money,  {
  prefix: "R$",
  decimal: ",",
  thousands: "."
});
`

I can use the directive this way:
`v-money={}`

But the options that i setup globally are no reflected, the configs remain with the default, wich is decimals = . and thousands =

[2022-04-29 01:13] 1985michel commented on #44
Hi!

I did a watch using the @ElizeuBraga solution and it's working very well:

[code]

[2022-06-17 11:04] ghost commented on #25
I have the same issue

[2022-08-12 01:11] ggirardi1 commented on #15
Hello friends!

Passing by to share with you the way I cut this problem.

Basically I wrapped the original [jonathanpmartins/v-money3](https://github.com/jonathanpmartins/v-money3) component inside its own component, handling the value before issuing the `update:modelValue` event.

It works perfectly for me.

Hope this helps!

[code]

[2022-08-12 15:30] tuxpedro commented on #42
In my case `@blur.native` solved the problem. when I used `@input`, `@change` or `@change.native` created an infinite loop in my application.

[2022-08-26 15:01] pccortez commented on #50
I have the same problem, did you manage to solve it?

[2022-09-21 17:36] andreLuis1506 commented on #15
this is happening to me too, any solution?

[2022-09-28 22:59] Emmathem commented on #41
I used this and it disallows copy and pasting

`@copy.prevent`
`@paste.prevent`